# Local Terraform directories
.terraform/

# Terraform state files
*.tfstate
*.tfstate.backup

# Crash log files
crash.log

# Exclude sensitive variable files
*.auto.tfvars
*.auto.tfvars.json
secrets.tfvars